.add-vehicle {
   margin: 0rem 3rem 0 1rem;
  
    > h4 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      color: white;
      margin-top: 2rem;
    }
  
    .add-vehicle-form {
      border-radius: 8px;
      margin: 2.5rem 0;
  
      h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #fff;
      }
  
      form {
        background-color: #252525;
        @include grid(1fr 1fr 1fr, 2rem);
        padding: 1.5rem 0 3rem;
        border-radius: 5px;

        .form-control {
          margin-bottom: 1rem;
          width: 75%;
          margin: 0 auto;
  
          label {
            display: block;
            
            font-weight: bold;
           
            color: white;
          }

           
  
          .form-input {
            width: 100%;
            padding: 0.8rem;
            margin: 0.5rem 0; // Added margin for inputs
            border-radius: 4px;
            border: 1px solid#ccc;
            background-color: #333333;
            color: #bbb3b3; // Input text color
            outline: none;
            font-size: 1rem;
            &::placeholder{
                font-size: 1rem;
                background-color: #333333;
                
            }
          }
        }
      }
      .buttons{
        margin-top: 2rem;
      }
     
    }
  }
  
