// Colors
$body:#F0F3F4;
$white:#FFFFFF;
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$black:"#202020";
$gray: #ccc;
$yellow: #E67E23; //chart yellow  
$blue:#136DDC; 
$chart_blue_color:#126EDC; // chart blue circle
$dark_blue:#1B3C96;
$purple:#2f00ff;
$green:#78BB1C; // btn color
$dark_green:#00c300;
$danger: #ff0000;
$red:#F0514F; // btn color
// Transition 
$smooth: all .3s ease-in-out;  

